<hello name="{{ name }}"></hello>
<!-- <p>
Start editing to see some magic happen :)
</p> -->
<div id="menu-section">
<h3>Menu</h3>
</div>
<div id="left-section-filters">
<h3>Filters</h3>
<p><em>This is the side content</em></p>
</div>
<div id="right-section-content">
<h3>List of books</h3>
<p><em>This is the main content</em>
<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est mi, commodo vitae mauri
s at, sagittis
vehicula sem. Quisque malesuada dui at justo maximus, vel placerat nibh blandit. Phasellus qu
is ipsum aliquam,
fringilla ante sit amet, sagittis magna. In at dignissim eros, id vulputate tellus. Quisque o
rci urna, pretium
in porttitor et, rhoncus in nulla. Aenean viverra ante in velit tincidunt, sit amet tincidunt
ante suscipit. In
malesuada consectetur molestie.
</p>
</div>